html{
	height: 100%;
}
/* ============= Accessibility menu ============= */
ul#accessibility {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0;
	padding:0;
	position:absolute;
	right:50px;
	width:auto;
	z-index:90;
	font-size:7pt;
	top:3px;
	opacity: 0.2;
	filter:Alpha(opacity=20); 
	color:white;
	display: none;
}
ul#accessibility:hover{
	opacity: 0.7;
}
ul#accessibility li{
	float: left;
	margin-left:10px;
}
ul#accessibility a{
	color:white;
	text-decoration: none;
}
ul#accessibility a:hover{
	text-decoration: none;
}
noscript{
	font-size: 0.8em;
	font-style: italic;
}
#tplFra {
/*	position: absolute; compat IE7 */
	

}
#tplTop {
	/* position: absolute; */
	width:100%;
	height: 60px;
	background: rgb(0, 150, 219);
	/* background: url('../img/struct/textured_paper.png'); */
	border-bottom: 1px solid #E4E4E4;
	top:0px;
	left:0px;
	text-align: center;
	font-size:16px;
	z-index: 1000;
}
#titleRoot{
	font-size: 20px;
	font-weight: 200;
	padding: 5px 10px 5px 0;
	color: rgb(236, 236, 236);
	display: inline-block;
	vertical-align: top;
	width: 40%;
}
#tplLft {
	/* position: absolute; */
	/* z-index: 20; */
	/* height: 50px; */
	/* top: 10px; */
	/* left: 175px; */
	color: white;
	/* overflow: hidden; */
	/* text-align: center; */
	/* min-height: 30px; */
	padding-right: 12px;
	display: inline-block;
	vertical-align: top;
	float: left;
	background-color: rgba(0, 0, 0, 0.05);
}
#tplCo {
	
	width: 960px;
	margin: 0 auto;
	position: relative;
}

div.logoHomeDefault{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background-image:url(../img/struct/fondHomeTop.gif);
	background-repeat: no-repeat;
	background-position: top left;
}
div.logoHome{
	/* position: absolute; */
	/* width: 100%; */
	/* height: 100%; */
	/* top: 0px; */
	/* left: 0px; */
	margin: 8px;
	overflow: hidden;
	text-align: center;
}
#mainTd{
	padding: 0px;
	
}
#main_ti{
	color: #0096DB;
	font-size: 40px;
	padding: 10px;
	font-size: 50px;
	text-shadow: 0px -1px 0px #3A5A97, 0px 1px 0px #AEC2E9;
	text-align: center;
}
#main_co{
	/* width: 700px; */
	/* margin-left: 250px; */
	/* margin: 0 auto; */
	background: white;
	min-height: calc(100vh - 140px);
	/* position: absolute; */
	/* left: 0px; */
	/* top: 0px; */
	/* right: 0px; */
	/* bottom: 0px; */
	/* overflow: auto; */
	box-shadow: 0px 8px 10px -5px rgba(114, 114, 114, 0.33);
	border: 1px solid #E4E4E4;
	margin-top: 10px;
}
#main_co p{
	text-align: center;
}
#main_co span{
	display: inline;
}
#tplRgt {
	position: absolute;
	width:50px;
	right:0px;
	bottom:50px;
	overflow: hidden;
	text-align: center;
}
#tplBtm {
	/* position: absolute; */
	/* width:100%; */
	/* height:50px; */
	/* top: 10px; */
	/* right: 20px; */
	color: white;
	/* text-align: right; */
	display: inline-block;
	float: left;
	padding-left: 10px;
	background-color: rgba(0, 0, 0, 0.05);
}
#tplBtmLeft{
	/* position: absolute; */
	display: block;
	/* left: 50px; */
	height:48px;
}
#tplBtmIn {
	/* position: absolute; */
	/* float: right; */
	display: block;
	/* width: 200px; */
	line-height: 32px;
	margin-top: 10px;
	top: 0px;
	right: 0px;
	/* padding-top:2px; */
	color: #A2A2A2;
	/* background-color: rgba(0, 0, 0, 0.05); */
}
#linkSp, #linkPF{
	text-decoration: none;
	margin: 0px;
	float: right;
}
#linkSp img, #linkPF img{
	border-width:0px;
	vertical-align: middle;
}
#linkPF img{
	height: 32px;
	margin-left: 12px;
	padding: 0 8px;
}	
#main_nav{
	font-size: 18px;
	/* position:absolute; */
	display: none;
	position: fixed;
	width: 250px;
	top: 72px;
	left: calc(250px + 50vw);
	min-height: 300px;
	max-height: 80vh;
	padding: 0 10px;
	overflow-y: auto;
	text-align: left;
	border-right: 1px solid rgba(255, 255, 255, 0.66);
	box-shadow: 0px 8px 10px -5px rgba(114, 114, 114, 0.33);
	background: white;
	border: 1px solid #E4E4E4;
}
.startBtn{
	display: block;
	text-decoration: none;
	
}
a:first-letter {
	
}

.startBtn:hover {
	-moz-opacity:0.5;
	/* DANGER : ne pas mettre "filter:Alpha(opacity...)" */
	/* provoque un crash si associ� a un �l�ment hover pour IE6 et IE7 */
	opacity:0.5;
}

.startBtn{
	margin: 20px 0;
	font-size: 18px;
	padding: 10px 15px;
	color: #F9F9F9;
	background-color: #F59C00;
	display: block;
	line-height:26px;
	/* background: url(../img/btn/enter.gif) no-repeat right; */
	border-radius: 4px;
	position: relative;
	width: 220px;
	margin: 50px auto;
}
.startBtn::after{
	position:absolute;
	color: white;
	font-size: 30px;
	content: "\276f";
	right: 20px;
}
#gotoLastLocation {
	margin-top: 10px;
}
#gotoLastLocation a{
	padding-right: 35px;
	padding-bottom: 3px;
	padding-top: 3px;
	color: #4062a1;
	line-height:26px;
	background: url(../img/btn/allerPage.gif) no-repeat right;
}
#resetStorageData {
	margin-top: 10px;
}
#resetStorageData a{
	padding-right: 35px;
	padding-bottom: 3px;
	padding-top: 3px;
	color: #4062a1;
	line-height:26px;
	background: url(../img/btn/effacer.gif) no-repeat right;
}

/* === SMALL & TOUCH screens ================================================ */
/* ipad */
@media only screen and (max-device-width: 1024px){
	body{
		-webkit-text-size-adjust:none;
	}
}


/* Portrait */
@media only screen 
  and (max-width: 1024px) {
	#tplMnu{
		display:none;
	}
	#tplCo, #tplMain, #tplRgt{
		width: 100% !important;
	
		padding: 0px !important;
  }

}